@import url(../css/reset.css);

body {
    background-color: #0E0E0E;
}

/*HEADER*/
header {
    display: flex;
    justify-content: center;
}
.conteudo-cabecalho {
    max-width: 1980px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #070707;
    padding: 1rem 6%;
    margin: 0 auto;
    box-shadow: 0 5px 16px #0000002b;
    position: fixed;
    z-index: 10;
}
.conteudo-esquerda {
    width: 25%;
}
.conteudo-esquerda img {
    height: 3.5rem;
}
.conteudo-direita {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 75%;
    gap: 2rem;
}
.conteudo-direita ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.conteudo-direita a {
    color: #fff;
    transition: 0.2s;
}
.conteudo-direita a:hover{
    color: #C22121;
}
.conteudo-direita img {
    height: 2rem;
    transition: 0.2s;
}
.conteudo-direita img:hover {
    background-color: #C22121;
    border-radius: 50%;
}

/*FIM HEADER*/

/*MAIN*/

/*Adaptando o main por conta do position: fixed; do header*/
main, footer {
    position: relative;
    top: 6rem;
}

/*BOTÃO WHATSAPP*/
.botao-fixo {
    position: fixed;
    top: 80%;
    left: 80%;
    background-color: rgba(217, 217, 217, 0.5);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 20%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    transition: 0.2s;
    z-index: 10;
}
.botao-fixo:hover {
    background-color: #D9D9D9;
    color: #C22121;
}
/*FIM BOTÃO WHATSAPP*/

/*INTRODUÇÃO*/
.conteudo-introducao {
    max-width: 1980px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 10%;
    margin: 0 auto;
}
.conteudo-esquerdo-introducao {
    width: 31rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1 {
    font-size: 5.5rem;
    text-shadow: 3px 5px #C22121;
}
.btn-comecar {
    background-color: transparent;
    color: #C22121;
    border: 2px solid #C22121;
    font-size: 2.5rem;
    max-width: 20rem;
    padding: 1rem 10%;
    transition: 0.3s;
}
.btn-comecar:hover {
    background-color: #701F1F;
    color: #DADADA;
}
/*FIM INTRODUÇÃO*/

/*CARACTERÍSTICAS DOS ATLETAS*/
.conteudo-caracteristicas {
    background-image: url(../image/background-red-section01.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1550px;
    width: 100vw;
    height: 800px;
    margin: -2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.conteudo-caracteristicas h2{
    font-size: 2.5rem;
    color: #fff;
}
.items {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.caracteristica-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    gap: 1rem;
}
.caracteristica-item img{
    height: 7.5rem;
}
.caracteristica-item p{
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}
/*FIM CARACTERÍSTICAS DOS ATLETAS

/*PROGRAMA DE ATLETAS*/
.programa-atletas {
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.programa-titulo {
    font-size: 3rem;
    margin-bottom: 30px;
}
.programa-lista {
    font-size: 1.3rem;
}
/*FIM PROGRAMA DE ATLETAS*/

/*HISTÓRIAS DE ATLETAS*/
.container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Ajusta a distância entre os itens */
    gap: 2rem;
}
.meuH2 {
    margin: 100px 0px 100px 40px;
    padding: 0;
    box-sizing: border-box;
    font-size: 84px;
    font-weight: 700;
    background: linear-gradient(to bottom, #A01B1B, #5B1010);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #333;
    display: inline-block;
}
/*FIM HISTÓRIAS DE ATLETAS*/

/*MODALIDADES*/
.modalidades {
    font-size: 40px;
    text-align: center;
    padding: 10px; 
    margin: 20px; 
    border-radius: 8px;
}
.grupo-atletas {
    display: block;
    
    margin: auto;
}
/*FIM MODALIDADES*/

/*SUA TRANSFORMAÇÃO*/
.interface {
    background-image: url(../image/background-red-section02.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1550px;
    width: 100vw;
    height: 900px;
    margin: -2rem auto 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinhar-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5rem;
}
.interface h2{
    font-size: 5rem;
    width: 70%;
    text-align: center;
    color: #fff;
}
.interface p{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin: 1rem 0 2rem;
}
.interface button{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 2rem;
    font-weight: 600;
    max-width: 40rem;
    padding: 1rem 5%;
}
.interface button:hover{
    background-color: rgba(218, 218, 218, 0.5);
    text-shadow: 1px 3px #C22121;
}
/*FIM SUA TRANSFORMAÇÃO*/

/*FIM MAIN*/

/*FOOTER*/

footer {
    background-color: #f1f1f1;
    margin: 0;
    padding: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    border-bottom: 2px solid #f1f1f1;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000;
    font-weight: 900;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    
}

.footer-section ul li {
    margin-bottom: 10px;
    
}

.footer-content a{
    text-decoration: none;
    color: black;
}

.footer-content a:hover{
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px 10px;
    border-radius: 15px; 
    gap: 1rem;
} 
.footer-icones{
    display: flex;
    width: 6rem;
    justify-content: space-between;
    margin-right: 2rem;
}
.footer-link i{
    margin-top: 1rem;
    gap: 1rem;
    height: auto;
    width: auto;
    color: #000;
}
.footer-link i:hover{
    opacity: 0.8;
    transition: all 0.4s;
}
.contact-button{
    background-color: #D52E2E;
    padding: 15px 30px;
    border-radius: 10px;
}
.contact-button:hover{
    opacity: 0.8;
    transition: all 0.4s;
    color: black;
}
.logo-section {
    text-align: center;
    padding: 20px;
}
.logo-section {
    margin: 0;
    display: flex;
    justify-content: left;
    padding: 5px 10px;
    background-color: #050505;
}
.logo-section img{
    height: 70px;
    width: 70px;
}

/*FIM FOOTER*/